<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Taskee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Taskee</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="newProject">
    <ion-card-header>
      <ion-card-title>Project</ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="newProject.description"></ion-input>
          <ion-button slot="end" (click)="projectStore()">Save</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let project of projects">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-item>
                <ion-icon name="cafe-outline"></ion-icon>
                {{ project.description }}
                <ion-buttons slot="end">
                  <ion-button>
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button>
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item-sliding *ngFor="let task of project.tasks" #slidingItem>
                <ion-item>
                  <ion-label *ngIf="task.completedAt; else toDo">
                    <s>{{ task.description }}</s>
                  </ion-label>
                  <ng-template #toDo>
                    <ion-label>{{ task.description }}</ion-label>
                  </ng-template>
                </ion-item>
                <ion-item-options side="end" *ngIf="!task.completedAt">
                  <ion-item-option color="light">
                    <ion-button>
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-item-option>
                  <ion-item-option color="light">
                    <ion-button color="danger" (click)="taskDestroy(task, slidingItem)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-item-option>
                  <ion-item-option color="light">
                    <ion-button color="success" (click)="taskDone(task, slidingItem)">
                      <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>

            <ion-item>
              <ion-input type="text" #newTask placeholder="New Task"></ion-input>
              <ion-button slot="end" (click)="taskStore(project, newTask)">Add</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="projectForm()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>